language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - hhvm

matrix:
  include:
    - php: 5.5
      env: deps=low

env:
  global:
    - deps=no

before_script:
  - travis_retry composer self-update
  - if [ "$deps" = "no" ]; then travis_retry composer install --prefer-source --no-interaction; fi;
  - if [ "$deps" = "low" ]; then travis_retry composer --prefer-source --prefer-lowest --prefer-stable update; fi;

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover

sudo: false

script: phpunit --coverage-clover=coverage.clover

matrix:
  fast_finish: true
